header {
  background-color: var(--light-100);
}

header .inner-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-logo img {
  width: 12rem;
}

.outer-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.inner-wrapper {
  flex: 1 0 0%;
  max-width: 1024px;
  width: 100%;
}

section.hero {
  background-color: var(--green);
}

section.hero *::selection {
  background-color: var(--yellow);
  color: var(--dark);
}

section.hero > .inner-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "head head img"
    "main . img";
  grid-template-columns: minmax(auto, 16rem) 1fr minmax(auto, 14rem);
}

.hero-header {
  font-family: var(--font-serif);
  grid-area: head;
  line-height: 0.75;
}

.hero-title {
  color: var(--yellow);
  font-size: 4rem;
  font-weight: 400;
}

.hero-subtitle {
  color: var(--light-100);
  font-size: 2.5rem;
  font-weight: 400;
}

.hero-content {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-area: main;
}

.hero-copy {
  color: var(--light-100);
  font-family: var(--font-sans);
  font-size: 1rem;
  font-weight: 400;
}

.hero-cta,
.specials-cta {
  font-size: 1.25rem;
}

.hero-image {
  align-self: end;
  justify-self: end;
  grid-area: img;
  width: 100%;
}

.hero-image img {
  border-radius: 0.5rem;
  object-fit: cover;
  max-height: 12rem;
  width: 100%;
}

section .header {
  font-family: var(--font-serif);
  font-size: 3rem;
}

section.specials {
  background-color: var(--light-100);
}

.specials-header-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.specials-item-row {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: start;
  overflow-x: auto;
  margin-inline: auto;
  padding-block: 1rem;
  width: 100%;
}

.special-card {
  background-color: var(--light);
  border-radius: 0.5em;
  box-shadow:
    0 4px 6px 1px rgb(0 0 0 / 0.1),
    0 2px 4px 1px rgb(0 0 0 / 0.1);
  display: flex;
  flex: none;
  flex-direction: column-reverse;
  height: 30rem;
  overflow: hidden;
  width: 16rem;
}

.special-card:first-child {
  margin-inline-start: 1rem;
}

.special-card:last-child {
  margin-inline-end: 1rem;
}

.special-card-content {
  flex: 1 0 0%;
  flex-direction: column;
  display: flex;
  gap: 0.5rem;
  height: 50%;
  padding: 1rem;
}

.special-card-header {
  align-items: center;
  display: flex;
  flex: none;
  justify-content: space-between;
}

.special-card-name {
  color: var(--dark);
  font-family: var(--font-serif);
  font-size: 1.5rem;
  font-weight: 700;
}

.special-card-price {
  color: var(--green);
  font-family: var(--font-sans);
  font-weight: 700;
}

.special-card-price::before {
  content: "$";
}

.special-card-copy {
  color: var(--dark);
  flex: 1 1 0%;
  font-family: var(--font-sans);
  overflow: hidden;
  text-overflow: ellipsis;
}

.special-card-cta.btn {
  flex: none;
  font-size: 1rem;
  padding: 0.5rem;
}

.special-card-image {
  flex: none;
  height: 50%;
}

.special-card-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

section.testimonials {
  background-color: var(--yellow);
}

.testimonial-row {
  display: flex;
  gap: 1rem;
  margin-inline: auto;
  overflow-x: auto;
  padding-bottom: 1rem;
  width: 100%;
}

.testimonial {
  background-color: var(--light-100);
  border-radius: 0.5em;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  display: grid;
  gap: 0.25rem;
  grid-template-areas:
    "image review"
    "name review"
    "rating review";
  grid-template-columns: 8rem 18rem;
  padding: 1rem;
  place-items: center;
}

.testimonial:first-child {
  margin-inline-start: 1rem;
}

.testimonial:last-child {
  margin-inline-end: 1rem;
}

.testimonial-contributor-image {
  border: 1px solid var(--dark);
  border-radius: 50%;
  grid-area: image;
  height: 5rem;
  object-fit: cover;
  overflow: hidden;
  width: 5rem;
}

.testimonial-contributor-image img {
  margin-inline: auto;
}

.testimonial-contributor-name {
  grid-area: name;
  font-family: var(--font-serif);
  font-size: 2rem;
  font-weight: 700;
  line-height: 0.75;
  text-align: center;
}

.testimonial-rating {
  align-items: center;
  display: flex;
  font-family: var(--font-sans);
  grid-area: rating;
  justify-content: start;
}

.testimonial-rating .testimonial-rating-value {
  font-size: 1.5rem;
  padding-right: 0.25rem;
}

.testimonial-rating .testimonial-rating-graphic {
  font-size: 0.875rem;
}

.testimonial-review {
  font-family: var(--font-sans);
  grid-area: review;
  padding-inline: 1rem;
  text-align: justify;
}

section.about {
  background-color: var(--light);
}

.about-header {
  padding-block: 1rem;
}

.about-title {
  font-family: var(--font-serif);
  font-size: 3rem;
  line-height: 0.5;
}

.about-subtitle {
  font-family: var(--font-serif);
  font-size: 2rem;
}

section.about .about-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

section.about .image-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

section.about .image-list img {
  border-radius: 0.5rem;
  flex: 1 1 0%;
}

section.about .about-copy p {
  font-family: var(--font-sans);
  font-size: 1rem;
}

section.about .about-copy p:not(:first-child) {
  margin-block: 1rem;
}

footer {
  background-color: var(--dark);
}

footer .inner-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  padding-block: 1rem;
  text-align: center;
}

.footer-logo {
  align-self: center;
  flex: none;
}

.footer-logo img {
  width: 12rem;
}

.footer-column-header {
  color: var(--yellow);
  font-family: var(--font-serif);
  font-size: 2rem;
  font-weight: 400;
}

.footer-column-sub-header {
  color: var(--coral);
  font-family: var(--font-serif);
  font-size: 1.375rem;
  font-weight: 500;
  padding: 0.5rem;
}

.footer-column-item {
  color: var(--light);
  display: flex;
  flex-direction: column;
  padding-block: 0.25rem;
}

ul:has(li .nav-link) {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline: 0;
  margin: 0;
  text-align: center;
}

ul li:has(.nav-link) {
  cursor: pointer;
  display: flex;
  flex: none;
}

.nav-link {
  border-radius: 0.25em;
  font-family: var(--font-sans);
  font-weight: 400;
  padding: 0.5rem;
  text-decoration: none;
  width: 100%;
}

header {
  position: relative;
}

header nav {
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-100);
}

header nav[data-active="false"] {
  left: -100dvw;
  transition: left 0.2s ease-in;
}

header nav[data-active="true"] {
  left: 0;
  transition: left 0.2s ease-out;
}

header nav ul li .nav-link {
  padding: 1rem 2rem;
}

header button.nav-trigger.btn {
  background-color: var(--light-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 1rem;
}

header nav button.nav-trigger.btn {
  top: 2rem;
}

header button.nav-trigger.btn:hover,
header button.nav-trigger.btn:active {
  background-color: var(--light-100);
}

header .nav-trigger.btn img {
  height: 2rem;
  width: 2rem;
}

header .nav-link {
  color: var(--green);
}

header nav ul li .nav-link:hover {
  background-color: var(--light);
}

footer .nav-link {
  color: var(--light);
}

footer li .nav-link:hover {
  background-color: var(--dark-100);
}

main.confirmation-page {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
}

.confirmation-page section.outer-wrapper > .inner-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

.confirmation-page section.booking-confirmation {
  background-color: var(--green);
  flex: 1 1 0%;
}

.confirmation-page section.booking-confirmation h2 {
  color: var(--yellow);
  font-family: var(--font-serif);
  font-size: 3rem;
}

.confirmation-page section.booking-confirmation .booking-confirmation-msg {
  color: var(--light);
  font-family: var(--font-sans);
  font-size: 1.5rem;
  text-align: center;
}

.confirmation-page section.booking-confirmation button {
  font-size: 1.25rem;
}

.confirmation-page section.upcoming-bookings {
  background-color: var(--yellow);
  flex: 1 1 0%;
}

.confirmation-page section.upcoming-bookings h2 {
  color: var(--dark);
  font-family: var(--font-serif);
  font-size: 3rem;
}

.slot-card-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

section.booking {
  background-color: var(--yellow);
}

@media (min-width: 768px) {
  header nav {
    position: static;
    height: unset;
    width: unset;
  }

  header button.nav-trigger.btn {
    display: none;
  }

  header .inner-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  header nav ul:has(li .nav-link) {
    border-radius: 0;
    transform: none;
    transition: none;
    position: static;
    flex-direction: row;
  }

  header nav ul li .nav-link {
    border-radius: 0.25em;
    font-size: 1rem;
    padding: 1rem;
  }

  .slot-card-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  .specials-item-row {
    justify-content: center;
  }

  section.about .inner-wrapper div:nth-child(1) .about-content {
    flex-direction: row-reverse;
  }

  section.about .inner-wrapper div:nth-child(2) .about-content {
    flex-direction: row;
  }

  section.about .inner-wrapper div:nth-child(1) .image-list {
    flex: 2 2 0%;
  }

  section.about .image-list {
    flex: 1 1 0%;
  }

  section.about .image-list img {
    object-fit: cover;
    object-position: 75% center;
  }

  section.about .about-copy {
    flex: 1 1 0%;
  }

  footer .inner-wrapper {
    flex-direction: row;
  }

  .footer-column {
    text-align: left;
  }

  footer .inner-wrapper {
    align-items: start;
  }

  .footer-column .footer-column-item {
    text-align: left;
    width: fit-content;
  }
}

@media (min-width: 1024px) {
  .testimonial-row {
    flex-wrap: wrap;
    width: min(calc(100% - 2rem), 1024px);
  }

  .testimonial:first-child {
    margin-inline-start: 0;
  }

  .testimonial:last-child {
    margin-inline-end: 0;
  }
}
